# .gitignore

# Node.js
# dependencies
/node_modules


# Build artifacts
/dist/

# Cache and logs
/.cache/
/.log/

# IDE specific files
.idea/
.vscode/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local
